body {
    margin: 0;
}

.cache {
    position: absolute;
    display: none;
}

#json {
    margin-left: 500px;
    margin-top: 200px;
}

#start {
    padding: 6px 0 6px 0;
    font: Bold 13px Arial;
    background: #5FB404;
    color:white;
    width:100px;
    border-radius:2px;
    border:none;
}

#final {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    padding-left:20%;
    padding-right:20%;
    padding-top:15%;
    background-color:rgba(0, 0, 0, 0.6);
    text-align:center;
}

#patrick{
    z-index:2;
    max-width:300px;
    min-width:150px;
    vertical-align:middle;
}

#buttons {
    display:inline-block;
    width:194px;
    height:179px;
    z-index:2;
    text-align:center;
    background-image: url('../assets/images/final/menu.png');
    background-repeat:no-repeat;
    vertical-align:middle;
}

input {
    height : 48px;
    width : 48px;
    border : none;
    font-family : roboto;
    font-weight: 600;
    font-size : 50px;
    text-align: center;
    background-color: transparent;
    background-repeat:no-repeat;
    margin:3px;
    margin-bottom:20px;
}

input:focus {
    outline:none;
}

#home {
    background-image: url('../assets/images/final/option-home_normal.png');
}

#home:hover {
    background-image: url('../assets/images/final/option-home_over.png');
}

#home:active {
    background-image: url('../assets/images/final/option-home_click.png');
}

#ret {
    background-image: url('../assets/images/final/option-ret_normal.png');
}

#ret:hover {
    background-image: url('../assets/images/final/option-ret_over.png');
}

#ret:active {
    background-image: url('../assets/images/final/option-ret_click.png');
}

#mute {
    background-image: url('../assets/images/final/option-mute_normal.png');
}

#mute:hover {
    background-image: url('../assets/images/final/option-mute_over.png');
}

#mute:active {
    background-image: url('../assets/images/final/option-mute_click.png');
}
#muteon{
    background-image: url('../assets/images/levels/option-mute_click.png');
}

#muteon:hover {
    background-image: url('../assets/images/levels/option-mute_clickedover.png');
}

#muteon:active {
    background-image: url('../assets/images/levels/option-mute_normal.png');
}

.levelButton{
    background-image: url('../assets/images/final/button_normal.png'); 
    color:#0d004c;
    height : 77px;
    width : 78px;
    margin : 3px;
}

.levelButton:hover {
    background-image: url('../assets/images/final/button_over.png'); 
    color:#b3f5fb;
}

.levelButton:active {
    background-image: url('../assets/images/final/button_click.png');
    color:#11aab8;
}