body {
    margin: 0;
}

.cache {
    position: absolute;
    display: none;
}

#json {
    margin-left: 500px;
    margin-top: 200px;
}

#start {
    padding: 6px 0 6px 0;
    font: Bold 13px Arial;
    background: #5FB404;
    color:white;
    width:100px;
    border-radius:2px;
    border:none;
}