body{
    background:url("../assets/images/levels/wallpaper.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}
#importation{
    position:absolute;
    top:30%;
    left:100px;
}

#importButton {
    background-image : url('../assets/images/levels/button_import_normal.png');
    height : 100px;
    width : 300px;
    font-size : 20px;
    padding-left:60px;
    padding-top : 15px;
    border : none;
	color:white;
}

#importButton:hover {
    background-image : url('../assets/images/levels/button_import_over.png');
    color : #ffc2cc;
}
 
#importButton:active {
    background-image:url('../assets/images/levels/button_import_click.png');
    color:#bd132f;
}

#levels {
    position:absolute;
    top:30%;
    margin-left:420px;
    right:5%;
    max-width:800px;
}

input {
    height : 100px;
    width : 100px;
    border : none;
    font : ucidatypewriter, monospace;
    font-weight: 600;
    font-size : 50px;
    text-align: center;
    padding-bottom : 20px;
    margin-bottom : 5px;
}

.levelButton{
    background-image: url('../assets/images/levels/button_normal.png'); 
    color:white;
}

.levelButton:hover {
    background-image: url('../assets/images/levels/button_over.png'); 
    color:#b3f5fb;
}

.levelButton:active {
    background-image: url('../assets/images/levels/button_click.png');
    color:#11aab8;
}

.inactivelevelButton {
    background-image: url('../assets/images/levels/locked.png'); 
    color:white;
}
