body{
    position:fixed;
    width: 100%;
    top:0;
    bottom:0;
    margin:0;
}

#wallpaper {
    width:100%;
    height:100%;
}

#menu {
    background-image:url('../assets/images/levels/menu.png');
    position:absolute;
    right:5px;
    top:5px;
    width:134px;
    height:71px;
}

.menuButton {
    width :48px;
    height :48px;
    margin-top:5px;
    margin-left:7px;
}

#home {
    background-image: url('../assets/images/levels/option-home_normal.png');
}

#home:hover {
    background-image: url('../assets/images/levels/option-home_over.png');
}

#home:active {
    background-image: url('../assets/images/levels/option-home_click.png');
}

#mute {
    background-image: url('../assets/images/levels/option-mute_normal.png');
}

#mute:hover {
    background-image: url('../assets/images/levels/option-mute_over.png');
}

#mute:active {
    background-image: url('../assets/images/levels/option-mute_click.png');
}

#importation{
    position:absolute;
    bottom:10%;
    left:15%;
}

#importButton {
    background-image : url('../assets/images/levels/button_import_normal.png');
    height : 100px;
    width : 300px;
    font-size : 20px;
    color:#cc4970;
    padding-left:60px;
    border : none;
	color:white;
}

#importButton:hover {
    background-image : url('../assets/images/levels/button_import_over.png');
    color : #ffc2cc;
}
 
#importButton:active {
    background-image:url('../assets/images/levels/button_import_click.png');
    color:#dd6387;
}

#levels {
    position:absolute;
    top:30%;
    margin-left:420px;
    right:5%;
    max-width:800px;
}

input {
    height : 77px;
    width : 78px;
    border : none;
    font-family : roboto;
    font-weight: 600;
    font-size : 50px;
    text-align: center;
    margin-bottom : 5px;
    background-color: transparent;
}

input:focus {
    outline:none;
}

.levelButton{
    background-image: url('../assets/images/levels/button_normal.png'); 
    color:white;
}

.levelButton:hover {
    background-image: url('../assets/images/levels/button_over.png'); 
    color:#b3f5fb;
}

.levelButton:active {
    background-image: url('../assets/images/levels/button_click.png');
    color:#11aab8;
}

.inactivelevelButton {
    background-image: url('../assets/images/levels/locked.png'); 
    color:white;
}
