#start{
    display:block;
    margin : 0px;
    background-image: url("../assets/images/load/button_normal.png");
    height : 100px;
    width : 300px;
    border : none;
    font : ucidatypewriter, monospace;
    color : white;
    font-weight: 600;
    font-size : 25px;
    text-align: left;
    padding-left: 60px;
}

#start:hover {
    background-image: url("../assets/images/load/button_over.png");
    color:#ecff92;
}

#start:active {
    background-image: url("../assets/images/load/button_click.png");
    color:#9bdb10;
}

#menu >input {
    border : none;
    text-align: center;
    margin-bottom : 5px;
    background-color: transparent;
}

#menu>input:focus {
    outline:none;
}

#menu {
    background-image:url('../assets/images/levels/menu.png');
    position:absolute;
    right:5px;
    top:5px;
    width:134px;
    height:71px;
}

.menuButton {
    width :48px;
    height :48px;
    margin-top:5px;
    margin-left:7px;
}

#home {
    background-image: url('../assets/images/levels/option-home_normal.png');
}

#home:hover {
    background-image: url('../assets/images/levels/option-home_over.png');
}

#home:active {
    background-image: url('../assets/images/levels/option-home_click.png');
}

#mute {
    background-image: url('../assets/images/levels/option-mute_normal.png');
}

#mute:hover {
    background-image: url('../assets/images/levels/option-mute_over.png');
}

#mute:active {
    background-image: url('../assets/images/levels/option-mute_click.png');
}

 body {
    width: 100%;
    height: 100%;
	padding-top : 0px;
	margin:0px;
	position:fixed;
}

.cache {
    position: absolute;
    display: none;
}
img{
	position:absolute;
	margin-top : 0px;
	width: 100%;
    height: 100%;
	z-index:-1;
}
#json {
    margin-top: 200px;
	width : 50%;
}


.inputBtnSection{
    display:inline-block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
}
.disableInputField{
    display:inline-block;
    vertical-align:top;
    height: 35px;
    margin: 0;
    font-size:20px;
    padding:0 3px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    border:solid 1px gray;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn{
    display:inline-block;
    vertical-align:top;
    background:rgba(0,0,0,0.5);
    font-size:20px;
    padding:0 10px;
    height:36.5px;
    line-height:22px;
    color:#fff;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


